body {
    background-color: #090b1a;
    color: #ffffff;
}

.container {
    background-color: hsl(244, 38%, 16%);
    width: 1010px;
    height: 400px;
}

.title {
    font-family: 'Inter', sans-serif;
    width: 425px;
    font-size: 36px;
}

span {
    color: hsl(277, 64%, 61%);
}

.overview {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    width: 350px;
    line-height: 25px;
}

.stat-count {
    font-family: 'Inter', sans-serif;
}

.stat-category {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

img {
    width: 485px;
    height: 400px;
}

.col-1 {
    padding: 30px;
}

.row-2 {
    display: flex;
}

.row-2 div {
    margin: 20px;
    text-align: center;
}

.row-2 div h2 {
    font-size: 30px;
    width: max-content;
}

.row-2 div:first-child {
    margin-left: 0;
}
